body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ebecf0;
  color: #f7ac0c;
  padding: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 10px;
}
.logo-con {
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  z-index: 2;
  justify-content: flex-start; /* Align the buttons to the left in desktop view */
}
.header-buttons a {
  margin: 5px 10px;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.header-buttons a#home,
.header-buttons a#signup {
  background-color: #ffa559;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.header-buttons a#home:hover,
.header-buttons a#signup:hover {
  background-color: #ff7700;
}

/* Menu icon style */
.menu-icon {
  display: none; /* Hide the menu icon on desktop view */
}
/* Mid Section Styles */
.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 5px; /* Adjust the margin-top value */
}

/* Filter Styles */
filter {
  padding: 5px;
  margin-top: -200px;
}
.filter-section {
  flex-basis: 20%;
  padding: 20px;
  margin-right: 10px;
  border: 2px;
  border-radius: 4px;
  margin-bottom: auto;
  margin-top: 10px;
  width: 200px;
  
}
.filter-list {
  list-style: none;
  padding-left: 0;
}

.filter-block {
  margin-bottom: 20px;
  width: 100%;
}

.filter-list li {
  margin-bottom: 10px;
}

.filter-list input[type="checkbox"] {
  margin-right: 5px;
}

h2 {
  margin-top: 0;
}
h3 {
  margin-left: 10px;
}
.price {
  background-color: #ebecf0;
  border: 2px;
  border-radius: 4px;
}
.duration {
  background-color: #ebecf0;
  border: 2px;
  border-radius: 4px;
}
.distance {
  background-color: #ebecf0;
  border: 2px;
  border-radius: 4px;
}
.amenities {
  background-color: #ebecf0;
  border: 2px;
  border-radius: 4px;
}

/* Main Styles */
main {
  flex-grow: 1;
  width: 100%;
  margin: 5px;
  height: 1015px;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}

.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  background-color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.room-card:hover {
  background-color: #ebecf0;
}

.room-image {
  width: 100px;
  height: 100px;
  margin-right: 0;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.search-bar input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 946px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff7700;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Adjust the icon size and position */
.search-bar .fas.fa-search {
  font-size: 16px;
  vertical-align: middle;
}

.show-more-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.show-more-button button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffa559;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.show-more-button button:hover {
  background-color: #ff7700;
}
footer {
  background-color: #ffa559;
  color: #000000;
  padding: 5px 0px;
  display: flex;
  flex-direction: column; /* Change to column layout for mobile view */
  align-items: center; /* Center items in mobile view */
  border-radius: 4px;
  /* Add red border to the footer */
}

.container {
  width: 100%;
  max-width: 1200px; /* Add max-width to limit footer width on larger screens */
  margin: auto;
  padding: 0 20px; /* Add padding to create space between content and screen edges */
}

.footer-content {
  display: flex;
  flex-wrap: wrap; /* Wrap content for mobile view */
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
  color: #555555;
  font-size: 24px;
}

.customer-care,
.footer-links,
.social-icons,
.footer-links h3 {
  flex: 1;
  text-align: center;
  margin: 10px;
}

h3 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
}

.customer-care p {
  margin: 0;
  color: #000000;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px; /* Add margin between list items */
}

.footer-links a {
  color: #000000;
  text-decoration: none;
}

.copy {
  text-align: center;
  color: #fff;
  padding: 20px; /* Add padding to the .copy container */
  background-color: #dd660b;
  color: rgb(52, 23, 3);
  border-radius: 4px;
  margin-right: 35px;
}
.filter-button {
  display: none;
  background-color: #ffa559;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  body {
    align-items: center;
    padding-left: 10px;
  }
  .header-buttons {
    display: none; /* Hide the header buttons on mobile view */
  }
  .menu-icon {
    background-color: #ffa559;
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 4px;
    height: 15px;
    align-items: center;
    width: 15px;
    margin-right: 5px;
  }
  .header-buttons.show-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ebecf0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  main {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 5px;
  }
.ft {
    width: 480px;
    margin-left: 20px;
    margin-right: -20px;
    margin-top: 900px;
  }
  .header-buttons.show-dropdown a {
    margin: 5px 10px;
  }

  .room-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 450px;
  }
  .room-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: row;
    align-items: stretch;
    max-width: 300px;
    margin-left: 100px;
  }

  .search-bar input[type="text"] {
    width: 100%;
    margin-right: 5px;
  }
  .search-bar button {
    width: 30px;
  }
  .footer {
    padding-bottom: 40px; /* Add extra padding to the bottom of the footer */
    padding-right: 20px;
    width: 100%;
  }
  .footer-content {
    flex-direction: column; /* Change to column layout for tablet view */
    align-items: center;
  }

  .footer-links,
  .social-icons {
    margin-top: 20px; /* Add margin to separate sections in tablet view */
  }
  .ft {
    width: 480px;
    margin-left: 10px;
  }

  .filter-button {
    display: block;
    margin-left: 300px;
  }
  .filter-section {
    display: none;
  }
}
.filter-popup {
  display: none;
}

/* Signup popup style */
.signup-popup {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffe6c7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  z-index: 3;
}
.signup-popup a {
  display: block;
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: #ffa559;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.signup-popup a:hover {
  background-color: #ff7700;
}
.yellow-stars {
  color: gold;
}
/* Style for the filter modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
}