body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding-left: 10px;
  background-color: #f5f5f5;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ebecf0;
  color: #f7ac0c;
  padding: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 10px;
}
.logo-con {
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}
.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  z-index: 2;
  justify-content: flex-start; /* Align the buttons to the left in desktop view */
}
.header-buttons a {
  margin: 5px 10px;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.header-buttons a#home,
.header-buttons a#signup {
  background-color: #ffa559;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.header-buttons a#home:hover,
.header-buttons a#signup:hover {
  background-color: #ff7700;
}

/* Menu icon style */
.menu-icon {
  display: none; /* Hide the menu icon on desktop view */
}

h1 {
  text-align: center;
  font-size: 2em;
}

main {
  display: flex;
  padding-top: 100px;
  margin-top: 5px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  padding-top: 100px;
  margin-left: 10px;
}
.left-section {
  width: 400px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.main-heading {
  text-align: left;
}

.rating-section {
  margin-top: 10px;
}

.rating {
  font-size: 24px;
  color: #f7ac0c;
}

.rating-star {
  font-size: 20px;
}

.review-count {
  font-weight: bold;
  margin-top: 10px;
}

.address {
  margin-top: 10px;
}


.big-image {
  width: 600px;
  height: 400px;
}

.small-image {
  width: 100%;
  height: 150px;
  margin: 5px;
}

.product-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.big-image-container {
  width: 50%;
}

.small-images-container {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.image-grid {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-left: 35px;
  padding: 1px;
}

.owner-info-container {
  position: relative;
}

.owner-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.owner-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 2px solid #000;
}

.owner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owner-name {
  font-size: 18px;
  font-weight: bold;
}

.owner-popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #000;
}

.owner-popup.show {
  display: block;
}

.product-features-container {
  width: 100%;
}

.product-features {
  flex-grow: 1;
}

.about-product {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  margin-bottom: -5px;
  width: calc(50% - 5px);
  box-sizing: border-box;
  padding: 10px;
  margin-top: -5px;
  width: 100%;
  font-size: 20px;
}
.product-descreption-container {
  width: 100%;
  font-size: 20px;
}

.about-product h2 {
  font-size: 20px;
  font-weight: bold;
}

.product-features-container {
  margin-bottom: 10px;
  margin-top: 20px;
}

.about-product .product-features h2 {
  font-size: 18px;
  font-weight: bold;
}

.about-product .product-features ul {
  list-style: disc;
  padding-left: 20px;
  width: 100%;
}

.about-product .product-features ul li {
  font-size: 14px;
  margin-bottom: 5px;
  width: 100%;
}

.book-now-box {
  height: 400px;
  width: 300px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 1px;
  margin-bottom: 10px;
  border: 1px solid #000;
  position: sticky;
  top: 100px;
  border-radius: 5px;
}

.book-now-box input {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000;
}

.book-now-box p {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin: 0;
}

.book-now-box button {
  margin-top: auto;
  display: block;
  width: 100%;
  padding: 10px;
}
.book-now-button {
  background-color: #ffa559; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.book-now-box input.checkin-date {
  flex: 1 1 48%;
  width: 290px;
  margin-bottom: 15px;
  margin-right: 5px;
}

.book-now-box input.checkout-date {
  flex: 1 1 48%;
  margin-bottom: 15px;
  width: 290px;
  margin-left: 1px;
}
.dates {
  display: flex;
  flex-direction: column;
}

.book-now-box select.number-of-tenants {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.book-now-box select.payment-medium {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000;
}
.fee-container {
  margin-top: 10px;
}

.fee-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.fee-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.total-fee {
  font-weight: bold;
}
.user-reviews-container {
  margin-top: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-review {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(50% - 10px);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.user-name {
  font-weight: bold;
}

.user-rating {
  color: #f7ac0c;
}

.review-text {
  font-style: italic;
}
.hd,
.reviews {
  width: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  margin-right: -50px;
}
.btns .review-form button {
  background-color: #ffa559;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
}

.btns .review-form button:hover {
  background-color: #ff7700; /* Change the color on hover */
}

.user-review {
  width: 90%;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust the number of columns as per your design */
}

.map-container {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.map-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.map-container img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border: 2px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.things-to-know-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.things-to-know-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.rules-list {
  list-style-type: disc;
  padding-left: 20px;
}

.rules-list li {
  font-size: 16px;
  margin-bottom: 5px;
}

.rules1,
.rules2,
.rules3 {
  flex-grow: 1;
  padding: 10px;
}

.mid-container {
  display: flex;
}

.mid-left-container,
.mid-right-container {
  flex-basis: 100%;
}

.mid-right-container {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-container {
  width: 100%;
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 9999;
}

.ui-datepicker-header {
  background-color: #f0f0f0;
  color: #333;
}

.ui-datepicker-calendar {
  background-color: #fff;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  background-color: #f0f0f0;
  color: #333;
}
.ui-datepicker-calendar td {
  padding: 5px;
}

.ui-datepicker-calendar td:hover {
  background-color: #e0e0e0;
}

footer {
  background-color: #ffa559;
  color: #000000;
  padding: 5px 0px;
  display: flex;
  flex-direction: column; /* Change to column layout for mobile view */
  align-items: center; /* Center items in mobile view */
  border-radius: 4px;
  margin-top: 100px;
  margin-left: -9px;
}

.container {
  width: 100%;

  margin: auto;
  padding: 0 20px; /* Add padding to create space between content and screen edges */
}

.footer-content {
  display: flex;
  flex-wrap: wrap; /* Wrap content for mobile view */
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
  color: #555555;
  font-size: 24px;
}

.customer-care,
.footer-links,
.social-icons,
.footer-links h3 {
  flex: 1;
  text-align: center;
  margin: 10px;
}

h3 {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
}

.customer-care p {
  margin: 0;
  color: #000000;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px; /* Add margin between list items */
}

.footer-links a {
  color: #000000;
  text-decoration: none;
}

.copy {
  text-align: center;
  color: #fff;
  padding: 20px; /* Add padding to the .copy container */
  background-color: #dd660b;
  color: rgb(52, 23, 3);
  border-radius: 4px;
  margin-right: 35px;
}
.book-now-mb {
  display: none;
}
.popup {
  display: none;
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .header-buttons {
    display: none; /* Hide the header buttons on mobile view */
  }
  .menu-icon {
    cursor: pointer;
    display: block;
    padding: 10px;
  }
  .header-buttons.show-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ebecf0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .header-buttons.show-dropdown a {
    margin: 5px 10px;
  }

  .footer {
    padding-bottom: 40px; /* Add extra padding to the bottom of the footer */
    padding-right: 20px;
    width: 100%;
  }
  .footer-content {
    flex-direction: column; /* Change to column layout for tablet view */
    align-items: center;
  }

  .footer-links,
  .social-icons {
    margin-top: 20px; /* Add margin to separate sections in tablet view */
  }
  /* Adjust the grid layout for smaller screens */
  .reviews {
    grid-template-columns: 1fr;
  }
  .product-images {
    flex-direction: column; /* Change to column layout for mobile view */
    align-items: center; /* Center items in mobile view */
  }

  .big-image-container,
  .small-images-container {
    width: 100%; /* Take full width in mobile view */
  }
  .mid-container {
    flex-direction: column;
  }

  .mid-left-container {
    flex-basis: 100%;
    width: 600px;
    margin-top: 20px;
    padding-left: 40px;
  }
  .mid-right-container {
    flex-basis: 100%;
    width: 100%;
    margin-top: 20px;
  }
  .bottom-container {
    width: 600px;
    padding-left: 40px;
  }

  .book-now-box {
    display: none;
  }

  .ft {
    width: 670px;
    margin-right: -100px;
  }
  .book-now-box {
    display: none;
  }
  .book-now-mb {
    display: block;
    background-color: #ffa559; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  .popup-book-now-button {
    display: block;
    background-color: #ffa559; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  /* Popup styles */

  .popup {
    display: none;
    height: 295px;
    width: 300px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
    border: 1px solid #000;
    position: fixed;
    top: 29%;
    left: 25%;

    transform: translate(-50%, -50%);
  }

  .popup-content {
    background-color: #ebecf0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .popup-close {
    /* Position the close button at the top right corner */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem; /* Adjust the size as needed */
    /* Add some padding to make it easier to click */
    padding: 5px;
  }

  /* Add a bit of styling to the close button */
  .popup-close i {
    color: #999; /* Adjust the color */
  }

  .popup-close i:hover {
    color: #333; /* Adjust the color on hover */
  }
}

/* Signup popup style */
.signup-popup {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffe6c7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  z-index: 3;
}
.signup-popup a {
  display: block;
  margin-bottom: 5px;
  padding: 10px 20px;
  background-color: #ffa559;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.signup-popup a:hover {
  background-color: #ff7700;
}
.btns {
  padding: 20px;
  background-color: #f0f0f0;
  margin-left: -300px;
}